<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link href="CSS.scss" rel="stylesheet">
<a href="https://imgbb.com/"><img src="https://i.ibb.co/JR4yD2t/ri-3.png" alt="ri-3" border="0"></a>
<div class="resume">
  <div class="resume_left">
    <div class="resume_profile">
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">Saïd ZENNADI</p>
          <p class="regular">Administrateur systeme et réseaux</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              11 rue des haricot, Paris <br /> FRANCE
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              0687456123
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              saidzennadi@gmail.com
            </div>
          </li>
          <li>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">skill's</p>
        </div>
        <ul>
          <li>
            <div class="skill_name">
              Réseaux
            </div>
            <div class="skill_progress">
              <span style="width: 80%;"></span>
            </div>
            <div class="skill_per">80%</div>
          </li>
          <li>
            <div class="skill_name">
              Gestion
            </div>
            <div class="skill_progress">
              <span style="width: 70%;"></span>
            </div>
            <div class="skill_per">70%</div>
          </li>
          <li>
            <div class="skill_name">
              Logiciel
            </div>
            <div class="skill_progress">
              <span style="width: 90%;"></span>
            </div>
            <div class="skill_per">90%</div>
          </li>
          <li>
            <div class="skill_name">
              Virtualisation
            </div>
            <div class="skill_progress">
              <span style="width: 60%;"></span>
            </div>
            <div class="skill_per">60%</div>
          </li>
          <li>
            <div class="skill_name">
              OS
            </div>
            <div class="skill_progress">
              <span style="width: 88%;"></span>
            </div>
            <div class="skill_per">88%</div>
          </li>
      </div>
    </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
      <div class="title">
        <p class="bold">Présentation</p>
      </div>
      <p>Passionné par les nouvelles technologies en général, particulièrement féru de l'informatique et résolument motivé à travailler en équipe ou en individuel.</p>
    </div>
    <div class="resume_item resume_work">
      <div class="title">
        <p class="bold">Expériences professionnelles</p>
      </div>
      <ul>
        <li>
          <div class="date">2021 - 2022</div>
          <div class="info">
            <p class="semi-bold">SAINT-GOBAIN
              Contrat d'apprentissage
              Ingenieur en poste de travail</p>
            <p>Gestion de serveur ESXI
              Deploiment de packages via sccm
              Implementation d'une machine CMG
              Gestion des ticket SCCM</p>
          </div>
        </li>
        <li>
          <div class="date">2020 - 2021</div>
          <div class="info">
            <p class="semi-bold">GENERAL PROTECT
              Contrat d'apprentissage
              Administrateur système et réseau</p>
            <p>Paramétrage donnée alarme intrusion sur le Cloud server RISKO
              Création d'un site internet
              Installation et paramétrage d'un système de vidéo surveillance
              Installation et maintenance de systèmes de sécurité
              Mise en place d'outils d'optimisations</p>
          </div>
        </li>
        <li>
          <div class="date">2017 - Present</div>
          <div class="info">
            <p class="semi-bold">2017 : Mairie du Bourget STAGE</p>
            <p>Résolution de problèmes divers
              Implémentation d’OS (Windows 10) sur les nouveaux appareils </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
        <p class="bold">Formation</p>
      </div>
      <ul>
        <li>
          <div class="date">2021 - 2023</div>
          <div class="info">
            <p class="semi-bold">Mastère en Système Réseaux et Cloud Computing</p>
            <p>École Supérieure de Génie Informatique, 75012 Paris | Septembre 2021 - 2023 </p>
          </div>
        </li>
        <li>
          <div class="date">2000 - 2010</div>
          <div class="info">
            <p class="semi-bold">Bachelor en Système Réseaux et Cloud Computing</p>
            <p>École Supérieure de Génie Informatique, 75012 Paris | Septembre 2020 - 2021</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item resume_hobby">
      <div class="title">
        <p class="bold">Centres d'intérêts</p>
      </div>
      <ul>
        <li><i class="fas fa-book"></i></li>
        <li><i class="fas fa-gamepad"></i></li>
        <li><i class="fas fa-music"></i></li>
        <li><i class="fab fa-pagelines"></i></li>
      </ul>
    </div>
  </div>
</div>
